.Suggestions {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    padding: $input-padding-y-sm $input-padding-x;

    &:hover {
      background: rgba(0, 0, 0, .05);
    }
  }

  &_sm &__item {
    font-size: $font-size-sm;
    padding: $input-padding-y-sm $input-padding-x-sm;
  }

  &_search {
    margin-top: -($card-columns-gap / 2 * 3);
    padding: $card-columns-gap 0;
  }

  &_search &__item {
    padding: $input-padding-y-sm $card-spacer-x;
  }
}
