/*******************************************************************************
 *** Font weights
 ******************************************************************************/

// $font-weight-light:   300;
// $font-weight-normal:  400;
$font-weight-medium:     500;
$font-weight-semi-bold:  600;
// $font-weight-bold:    700;


/*******************************************************************************
 *** Card
 ******************************************************************************/

$card-spacer-x: 1rem;


/*******************************************************************************
 *** Search box
 ******************************************************************************/

$SearchBox-height: 38px;
$SearchBox-button-size: 36px;
$SearchBox-button-svg-size: 16px;
$SearchBox-button-svg-spacer: 10px;
$SearchBox-border-size: 1px;
