/*******************************************************************************
 *** Font weights
 ******************************************************************************/

// $font-weight-light:   300;
// $font-weight-normal:  400;
$font-weight-medium:     500;
$font-weight-semi-bold:  600;
// $font-weight-bold:    700;


/*******************************************************************************
 *** Search box
 ******************************************************************************/

$SearchBox-height: 38px;
$SearchBox-button-size: 36px;
$SearchBox-button-svg-size: 16px;
$SearchBox-button-svg-spacer: 10px;
$SearchBox-border-size: 1px;


/*******************************************************************************
 *** Gender colors
 ******************************************************************************/

$masculine: theme-color-level(primary, $alert-color-level);
$masculine-bg: theme-color-level(primary, $alert-bg-level);
$masculine-border: theme-color-level(primary, $alert-border-level);

$feminine: theme-color-level(danger, $alert-color-level);
$feminine-bg: theme-color-level(danger, $alert-bg-level);
$feminine-border: theme-color-level(danger, $alert-border-level);
