.About {
  &__image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 3rem;
  }

  p {
    @include media-breakpoint-up(lg) {
      font-size: $lead-font-size;
    }
  }
}
