.Card {
  margin-bottom: $card-columns-gap !important;

  &__header {
    background-color: transparent;
    border-bottom: none;
    padding-bottom: 0;
    font-size: 1.125rem;
    font-weight: $font-weight-medium;
    line-height: 1.2;
  }

  &__header-inner {
    border-bottom: $card-border-width solid $card-border-color;
    padding-bottom: $card-spacer-y;
  }

  &__body {
    padding: $card-spacer-y $card-spacer-x;
  }

  &__image {
    margin: -$card-spacer-y 0 $card-spacer-y;
    img {
      width: 100%;
    }
  }

  &__notes {
    white-space: pre-line;
  }

  .card-text:not(:last-child) {
    margin-bottom: $card-spacer-y;
  }

  &__date {
    font-size: $font-size-sm;
    color: $text-muted;
  }

  &__edit {
    text-align: right;
    .btn {
      padding: 0;
    }
  }
}
